@model Person

<li class="row partial" id="list-id-@Model.Id">

    <div class="col-md-10">
        @*@Model.Id |*@ @Model.Name | @Model.Phone | @Model.City
    </div>

    <div class="col-md-2">
        <a id="edit" class="btn btn-danger" asp-controller="People" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a id="delete" class="btn btn-danger" asp-controller="People" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>

</li>

